<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <h4>Node EJS</h4>
      </div>

      <ul class="navi-links">
        <li>
          <a href="/register"> Register </a>
        </li>
        <li>
          <a href="/about"> About </a>
        </li>
        <li>
          <a href="/about"> Login </a>
        </li>
      </ul>
    </nav>
  </body>
</html>
